.btnWitdh {
    width: 100%;
}



.btnWitdh {
    width: 100%;
}
.btnIcon i {
    margin-right: 10px;
}
.btnIcon {
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
}
.collection .collection-item.avatar .title {
    font-weight: 700;
    font-size: 20px;
    display: block;
}
.collection .collection-item.avatar p.precio {
    color: #2bbbad;
    font-weight: 700;
    font-size: 25px;
    margin-top: 10px;
}
#logo{
    width: 50px;
    margin-left: 30px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 30px;
}

#lista-cursos {
    list-style: none;
    padding: 0;
}

#lista-cursos li {
    margin-bottom: 10px;
}

#lista-cursos li a {
    display: block;
    background-color: #f4f4f4;
    padding: 10px;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#lista-cursos li a:hover {
    background-color: #ddd;
}

#descripcion-curso {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

#descripcion-curso p {
    margin: 0;
}
